trace.info text merge=mps
generated text merge=mps
dependencies text merge=mps
*.mpl text merge=mps
*.msd text merge=mps
*.devkit text merge=mps
*.mpr text merge=mps
*.mpsr text merge=mps
*.model text merge=mps
*.mps text merge=mps

*.sh text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.cs text eol=lf
*.alf text eol=lf
*.cmake text eol=lf
*.java text eol=lf
