### This file is downloaded from https://github.com/vimotest/mps-gradle-scripts/raw/main/.github/workflows/workflow-build.yaml

name: Java Build using Gradle Wrapper

on:
  workflow_call:

env:
  PROJECT_NAME: "alfi"
  LANGUAGE_NAME: "alfi"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'
      - name: Set up JDK 15
        uses: actions/setup-java@v3
        with:
          java-version: '15'
          distribution: 'adopt'

      # Install Xvfb for avoiding X11 window server AWTError when running tests (https://arbitrary-but-fixed.net/2022/01/21/headless-gui-github-actions.html)
      - name: Setup xvfb for X11 window server
        run: Xvfb :1 -screen 0 1600x1200x24 &

      # Prepare MPS
      - name: Download and Prepare MPS
        run: sh ./gradlew prepareMps

      # Build Project
      - name: Build Project
        run: sh ./gradlew mpsBuild

      # Test Project
      - name: Test Project
        run: sh ./gradlew mpsTest
        env:
          DISPLAY: :1

      # Stop Xvfb
      - name: Tear down xvfb
        run: killall Xvfb

      # Build Project again
      # Somehow the java files for compitest are only compiled on the second build
      - name: Build Project Again
        run: sh ./gradlew mpsBuild

      # Archive Artifacts
      - name: Archive artifacts
        uses: actions/upload-artifact@v3
        with:
          name: build-artifacts
          path: |
            build/artifacts/${{ env.PROJECT_NAME }}/${{ env.LANGUAGE_NAME }}.zip

      - name: Upload artifacts for compitest
        uses: actions/upload-artifact@v3
        with:
          name: artifactsForCompitest
          path: build/artifacts/${{ env.PROJECT_NAME }}/compitest/
          retention-days: 1

  compitest:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Install python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install poetry
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: 1.4

      - uses: actions/checkout@v3

      - name: Install alf
        run: sh ./gradlew installAlf

      - name: Download artifacts for compitest
        uses: actions/download-artifact@v3
        with:
          name: artifactsForCompitest
          path: build/artifacts/${{ env.PROJECT_NAME }}/compitest/

      - name: Run compitest
        run: sh ./gradlew compitestRunTests

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: compiTest-results
          path: build/compitest
          retention-days: 3
